<app-navbar></app-navbar>
<div class="row hero">
  <div class="container">
    <div class="row">
      <h6>
        <strong>FLY TOWARDS WHAT MATTERS</strong>
      </h6>
    </div>

    <div class="row">
      <h1>
        We want to be your co-pilot.
      </h1>
      <h1>
        Start today.
      </h1>

    </div>

    <div class="row">
      <button id="become-pilot" (click)='testFunction' class="btn">BECOME A PILOT</button>
    </div>
  </div>
</div>


<div id="subhero" class="row">
  <div class="col">
    <h3>
      Reliable Earnings
    </h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas imperdiet tempor vehicula. Nam sed facilisis
      sapien.
      In ut leo ac ante sollicitudin semper. Nulla rutrum. </p>
  </div>

  <div class="col">
    <h3>
      Zero Prerequisites
    </h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis erat semper, placerat dolor non,
      convallis
      turpis. Nulla vel bibendum eros. Fusce pellentesque quam dolor.
    </p>
  </div>

  <div class="col">
    <h3>
      Need a plane?
    </h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet dictum dolor, a malesuada nulla. In nec
      iaculis lectus, at semper lacus. Integer elementum.
    </p>
  </div>

  <div class="col"></div>
</div>
