<nav id="navbar" class="navbar sticky-top navbar-expand-lg">
  <a class="navbar-brand" href="">
    <img id="navbar-logo" src="./assets/images/lift_pink.png" alt="lift">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul id="nav-items" class="navbar-nav ml-auto">
      <li class="nav-item">
        <a *ngIf="isLoggedIn" class="nav-link" routerLink="planes"><strong>PILOT (Logged In)</strong></a>
        <a *ngIf="!isLoggedIn" data-toggle="modal" data-target="#login-modal" class="nav-link" ><strong>PILOT (Not Logged In)</strong></a>
      </li>
      <li class="nav-item">
        <a *ngIf="isLoggedIn" class="nav-link" routerLink="guest"><strong>PASSENGER</strong></a>
        <a *ngIf="!isLoggedIn" data-toggle="modal" data-target="#login-modal" class="nav-link" routerLink="guest"><strong>PASSENGER</strong></a>
      </li>
      <li class="nav-item">
        <a *ngIf="isLoggedIn" class="nav-link" routerLink="login"><strong>LOG OUT</strong></a>
        <a *ngIf="!isLoggedIn" class="nav-link" routerLink="login"><strong>LOGIN</strong></a>
      </li>
    </ul>
  </div>
  <hr>
</nav>

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-lg modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img id="modal-logo" src="./assets/images/lift_pink.png" alt="">
        <app-authentication></app-authentication>
      </div>
    </div>
  </div>
</div>
