  <div id="login-page" class="row">
    <div id="login-left" class="col">
      <div id="login-box">
        <p *ngIf="isLoggedIn"> \\if the user is logged in, we’ll show that user’s name along with an event binding to
          logout.
          <a>{{userName}}</a>
          <br>
          <button (click)="logout()">Logout</button>
        </p>
        <p *ngIf="!isLoggedIn"> \\if the user isn’t logged in, we’ll have an event binding to login.
          <br>
          <button (click)="login()">Login</button>
        </p>
      </div>
    </div>


    <div id="login-right" class="col">

    </div>
  </div>
