<div class="whole-page">
  <app-navbar></app-navbar>
    <div class="row">



      <div class="col content">
        <div class="left">
          <h1>Strap in</h1>
          <h1>Start flying</h1>
          <input type="phone" name="" id="phone" placeholder="Phone Number">
          <button id="phone-submit"><strong>APPLY TO FLY</strong></button>
        </div>
      </div>


      <div class="col content">
        <div class="right">
          <img id="airport-icon" src="./assets/images/airport.png" alt="">
        </div>
      </div>



    </div>
</div>
