<div class="container">
  <div class="row">
    <div class="col">
      <button class="btn btn-primary" (click)='showPropertyList()'>Property List</button>
      <div *ngIf='displayAllProperties' id="property-list">
        <ul *ngFor='let property of propertyList | async'>
          <li>
            <p>Type: {{property.type}}</p>
            <p>Beds: {{property.beds}}</p>
            <p>Location: {{property.location}}</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="col">
      <button class="btn btn-success" (click)='showNewPropertyForm()'>Add New Property</button>
      <div *ngIf='displayNewPropertyForm' class="form-group">
        <div>
          <label>Property Type:</label>
          <input #newPropertyType>
        </div>
        <div>
          <label>Beds:</label>
          <input #newBeds>
        </div>

        <div>
          <label>Location:</label>
          <input #newLocation>
        </div>

        <button class="btn btn-outline-success" (click)="
          newProperty(newPropertyType.value, newBeds.value, newLocation.value);newProperty.value=''; newBeds.value=''; newLocation.value=''">Add
          Property</button>
      </div>
    </div>
  </div>
</div>
