<div class="container">
  <div class="row">
    <div class="col">
      <button class="btn btn-primary" (click)='showPropertyList()'>Property List</button>
      <div *ngIf='displayAllProperties' id="property-list">
        <ul *ngFor='let property of propertyList'>
          <li>
            <p>Type: {{property.type}}</p>
            <p>Beds: {{property.beds}}</p>
            <p>Location: {{property.location}}</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="col">
      <button class="btn btn-success" (click)='showNewPropertyForm()'>Add New Property</button>
      <div *ngIf='displayNewPropertyForm' class="form-group">
        <form>
          <input [(ngModel)]='propertyType' type="text" name="propertyType" class="form-control" placeholder="Property Type">

          <input [(ngModel)]='beds' type="number" min=1 name="beds" class="form-control" placeholder="Beds">

          <input [(ngModel)]='location' type="text" name="location" class="form-control" placeholder="Location">

          <button class="btn btn-outline-success" (click)='newProperty(propertyType, beds, location)'>Add Property</button>
        </form>
      </div>
    </div>
  </div>
</div>
